
body {
  background-color: #e8e8e9;
  font-family: 'Montserrat';
  color: #4f4f57;
  font-stretch: 100%;
}

.App {
  text-align: center;
}

.App-nav {
  margin-bottom: -66px;
  justify-content: flex-start;
  align-items: center;
  text-align: initial;
  padding: 15px 20px;
  font-size: 30px;
}

.App-header {
  background-color: #35383c;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e8e8e9;
  padding: 0px 300px;
}

.Header-quote {
  font-size: calc(30px + 2vmin);
  font-family: 'Montserrat';
  margin-bottom: 10px;
  margin-top: 0px;
}

.Header-help {
  color: #abaeb6;
}

.Header-help-top {
  font-size: 13px
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.quotes-body {
  padding: 100px 200px;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  margin: 10px;
  width: 300px;
  height: 300px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.03), -5px -5px 30px 7px rgba(0,0,0,0.03);
  cursor: pointer;
  transition: 0.4s;
  background-color: #fff;
}

.card .card_quote {
  height: inherit;
  border-radius: 40px;
  margin: 20px;
  text-align: initial;
  font-size: 25px;
}


img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
}

.card .card_auth {
  text-align: initial;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  margin-top: -70px;
  margin-left: 20px;
  height: 40px;
  color: #abaeb6;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.03), 
    -5px -5px 30px 15px rgba(0,0,0,0.03);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 1000px) {

  .App-header {
    padding: 0px 10px;
  }

  .quotes-body {
    padding: 30px 10px;
  }
}

@media all and (max-width: 600px) {
  .card-list {
    flex-direction: column;
  }
}